@import url(https://fonts.googleapis.com/css?family=Lato);

*, *:before, *:after{
  /*-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;*/
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/*| Navigation |*/

/*div{
  position: fixed;
  top: 68px;
  left: -35px;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
  height: 57px;
}*/
  .menuclass ul{
      
    list-style: none;
    position: relative;
    float: right;
    margin-right: 100px;
    display: inline-table;
  }
    .menuclass ul li{
        line-height:50px;
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    .menuclass ul li:hover{background: rgba(0,0,0,.15);}
    .menuclass ul li:hover > ul{display: block;}
    .menuclass ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
     .menuclass ul li a{
        display: block; 
        padding: 30px 40px;
        color: #222;
        font-size: .9em;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
      }
      .menuclass ul ul{
        display: none;
        background: #fff;
        position: absolute; 
        top: 100%;
        box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
        border: 1px solid rgba(0,0,0,.1);
      }
      .menuclass ul ul li{
          float: none; 
          position: relative;
      }
      .menuclass ul ul li a {
          padding: 15px 30px; 
          border-bottom: 1px solid rgba(0,0,0,.05);
      }
      .menuclass ul ul ul {
          position: absolute; 
          left: 100%; 
          top:0;
      }	
