body {
}
.product {
    width: 220px;
    height: 400px;
    overflow: hidden;
    border: thin yellow solid;
    float: left;
    margin: 15px;
    position: relative;
}

.product img {
    width: inherit;
}
.product h2 {
    background-color: black;
    color: white;
    font-size: 14px;
}
.product span {
    display: block;
    padding: 3px;
    background-color: silver;
}
.product div {
    background-color: rgba(0, 0, 0, 0.20);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px;
}